@font-face {
    font-family: 'Oswald_ExtraLight';
    src: url('oswald-extralight-webfont.eot');
    src: url('oswald-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('oswald-extralight-webfont.woff') format('woff'),
         url('oswald-extralight-webfont.ttf') format('truetype'),
         url('oswald-extralight-webfont.svg#oswaldextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ion';
    src: url('ionicons.eot');
    src: url('ionicons.eot?#iefix') format('embedded-opentype'),
         url('ionicons.woff') format('woff'),
         url('ionicons.ttf') format('truetype'),
         url('ionicons.svg#ion') format('svg');
    font-weight: normal;
    font-style: normal;
}
